.search-container {
  max-width: 30rem;
  min-width: 0;
  width: 100%
}

.search-container button {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #e4e4e4;
  display: block;
  background-color: white;
}

.search-container button:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.search-box {
  width: 100%;
  padding: 1rem;
  font-size: 1rem;
  border: 2px solid #e4e4e4;
}

.search-box:focus {
  outline: 1px solid #16a2ff;
}
